<meta name="viewport" content="width=device-width, initial-scale=1">
<main>
    {% block content %}
     {% include 'Questionnaire/_content_questionnaire.html.twig' %}

    {% endblock %}

    {{ dump(resultat) }}

    {{ dump(question) }}

    <div class="LT_card_test">


        <form action="questionnaire" method="post" class="LT_card">
           

            <div class="LT_card-head">
                <span class="card_n_question">Question n°1</span>
                <span class="card_question">{{question.nom}}</span>
            </div>


            <div class="LT_group_answers">
            {% for reponse in question.reponses %}
                <input  type="radio" id="{{reponse.id}}" value="{{reponse.id}} {{ reponse.profil_id }}"
                        name="reponse_choisie_id">
                <label for="{{reponse.id}}">{{reponse.answer_c}}</label>
            {% endfor %}
            </div>

            <div class="LT_bloc_test_button-answer">
                <button  type="submit" class="LT_test_button-answer" id="submit">Next question</button>
            </div>

        </form>
    </div>

</main>



