
<div >
    <div class="gc-container-global">
        <div class="gc-robot-head">
            <img src="{{ envelop.hemlet_visual}}">
        </div>
        <div class="gc-robot-body">
            <img src="{{ envelop.body_visual }}">
        </div>
        <div class="gc-robot-left-arm">
            <img src="{{ envelop.larm_visual }}">
        </div>
        <div class="gc-robot-left-leg">
            <img src="{{ envelop.lleg_visual }}">
        </div>
        <div class="gc-robot-right-leg">
            <img src="{{ envelop.rleg_visual }}">
        </div>
        <div class="gc-robot-right-arm">
            <img src="{{ envelop.rarm_visual }}">
        </div>
        <div class="gc-robot-brain">
            <img src="{{ envelop.brain_visual }}">
        </div>
        <div class="gc-robot-batery">
            <img src="{{ envelop.battery_visual }}">
        </div>
    </div>
</div>
