<h1 style="color:white;">Here see your parts : </h1>
<h5 style="color:white;">in the future , if you have replaced a part , you can see original and new part.</h5>
<div>
    <p class="row gc-myenvelop-h4-versus">Original battery : <br>{{ envelop.battery_name }}</p>
    <img class="gc-admin-img" src="{{ envelop.battery_visual }}">
    <p class="row gc-myenvelop-h4-versus">Replaced battery : <br>nome</p>
    <img class="gc-admin-img" src="">
</div>
<div>
    <p class="row gc-myenvelop-h4-versus">Original body: <br>{{ envelop.body_name }}</p>
    <img class="gc-admin-img" src="{{ envelop.body_visual }}">
    <p class="row gc-myenvelop-h4-versus">Replaced body : <br>tes name nome</p>
    <img class="gc-admin-img" src="{{ envelop.body_visual }}">
</div>
<div>
    <p class="row gc-myenvelop-h4-versus">Original hemlet: <br>{{ envelop.hemlet_name }}</p>
    <img class="gc-admin-img" src="{{ envelop.hemlet_visual }}">
    <p class="row gc-myenvelop-h4-versus">Replaced hemlet : <br>nome</p>
    <img class="gc-admin-img" src="">
</div>
<div>
    <p class="row gc-myenvelop-h4-versus">Original larm: <br>{{ envelop.larm_name }}</p>
    <img class="gc-admin-img" src="{{ envelop.larm_visual }}">
    <p class="row gc-myenvelop-h4-versus">Replaced larm : <br>nome</p>
    <img class="gc-admin-img" src="">
</div>
<div>
    <p class="row gc-myenvelop-h4-versus">Original rarm: <br>{{ envelop.rarm_name }}</p>
    <img class="gc-admin-img" src="{{ envelop.rarm_visual }}">
    <p class="row gc-myenvelop-h4-versus">Replaced rarm : <br>nome</p>
    <img class="gc-admin-img" src="">
</div>
<div>
    <p class="row gc-myenvelop-h4-versus">Original lleg: <br>{{ envelop.lleg_name }}</p>
    <img class="gc-admin-img" src="{{ envelop.lleg_visual }}">
    <p class="row gc-myenvelop-h4-versus">Replaced lleg : <br>nome</p>
    <img class="gc-admin-img" src="">
</div>
<div>
    <p class="row gc-myenvelop-h4-versus">Original rleg: <br>{{ envelop.rleg_name }}</p>
    <img class="gc-admin-img" src="{{ envelop.rleg_visual }}">
    <p class="row gc-myenvelop-h4-versus">Replaced rleg : <br>nome</p>
    <img class="gc-admin-img" src="">
</div>
<div>
    <p class="row gc-myenvelop-h4-versus">Original brain: <br>{{ envelop.brain_name }}</p>
    <img class="gc-admin-img" src="{{ envelop.brain_visual }}">
    <p class="row gc-myenvelop-h4-versus">Replaced brain : <br>nome</p>
    <img class="gc-admin-img" src="">
</div>
