<h3 style="color:white;"> Your transfer state : Work in progress </h3>
<h5 style="color:white;">Next step : In next days , we contact you by mail for meet mediacal check.</h5>
<div class="container">

    <hr>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Fisrt Name: </h4><h4
                class="col-7 gc-myenvelop-h4-versus">{{ user.first_name }}</h4>
    </div>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Last Name: </h4><h4
                class="col-7 gc-myenvelop-h4-versus">{{ user.last_name }}</h4>
    </div>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Email : </h4><h4
                class="col-7 gc-myenvelop-h4-versus">{{ user.email }}</h4>
    </div>
    <hr>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Envelops name: </h4><h4
                class="col-7 gc-myenvelop-h4-versus">{{ envelop.name }}</h4>
    </div>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Date creation: </h4><h4
                class="col-7 gc-myenvelop-h4-versus">{{ envelop.date_creation }}</h4>
    </div>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Customized: </h4><h4
                class="col-7 gc-myenvelop-h4-versus">NO</h4>
    </div>
    <hr>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Head name: </h4><h4
                class="col-7 gc-myenvelop-h4-versus">{{ envelop.hemlet_name }}</h4>
    </div>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Body name: </h4><h4
                class="col-7 gc-myenvelop-h4-versus">{{ envelop.body_name }}</h4>

    </div>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Left Arm name: </h4><h4
                class="col-7 gc-myenvelop-h4-versus">{{ envelop.larm_name }}</h4>
    </div>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Left Leg name: </h4><h4
                class="col-7 gc-myenvelop-h4-versus">{{ envelop.lleg_name }}</h4>
    </div>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Right Arm name: </h4><h4
                class="col-7 gc-myenvelop-h4-versus">{{ envelop.rarm_name }}</h4>
    </div>
    <div class="row ml-2">
        <h4 class="col-5 gc-myenvelop-h4" style="color:white;">Right Leg name : </h4><h4
                class="col-7 gc-myenvelop-h4-versus">{{ envelop.lleg_name }}</h4>
    </div>

</div>
