{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Envelops
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/_card_robot_title.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_attribute.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_button.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_icon.css">
    <link rel="stylesheet" href="/assets/css/_card_robot_part.css">
    <link rel="stylesheet" href="/assets/css/_card_robot.css">
    <link rel="stylesheet" href="/assets/css/_envelope.css">
    <link rel="stylesheet" href="/assets/css/myenvelop.css">

{% endblock %}


<h3 style="color:white;"> You can see the details of the selected envelope </h3>
    <div class="gc-display-card">
        {% for envelop in envelops %}
            {% if not (envelop.id == 19) %}
                {% include 'Envelop/_card_robot.html.twig' %}
            {% endif %}
        {% endfor %}
    </div>

{% for envelop in envelops %}
    <h3 style="color:white;"> Here are the parts of envelope {{ envelop.name }}</h3>
    <div>
        <p class="row gc-myenvelop-h4-versus">Original battery : <br>{{ envelop.battery_name }}</p>
        <img class="gc-admin-img" src="{{ envelop.battery_visual }}">
        <p class="row gc-myenvelop-h4-versus">Replaced battery : <br>{{ user.battery_name }}</p>
        <img class="gc-admin-img" src="{{ user.battery_visual }}">
    </div>
    <div>
        <p class="row gc-myenvelop-h4-versus">Original body: <br>{{ envelop.body_name }}</p>
        <img class="gc-admin-img" src="{{ envelop.body_visual }}">
        <p class="row gc-myenvelop-h4-versus">Replaced body : <br>{{ user.body_name }}</p>
        <img class="gc-admin-img" src="{{ user.body_visual }}">
    </div>
    <div>
        <p class="row gc-myenvelop-h4-versus">Original hemlet: <br>{{ envelop.hemlet_name }}</p>
        <img class="gc-admin-img" src="{{ envelop.hemlet_visual }}">
        <p class="row gc-myenvelop-h4-versus">Replaced hemlet : <br>{{ user.hemlet_name }}</p>
        <img class="gc-admin-img" src="{{ user.hemlet_visual }}">
    </div>
    <div>
        <p class="row gc-myenvelop-h4-versus">Original larm: <br>{{ envelop.larm_name }}</p>
        <img class="gc-admin-img" src="{{ envelop.larm_visual }}">
        <p class="row gc-myenvelop-h4-versus">Replaced larm : <br>{{ user.larm_name }}</p>
        <img class="gc-admin-img" src="{{ user.larm_visual }}">
    </div>
    <div>
        <p class="row gc-myenvelop-h4-versus">Original rarm: <br>{{ envelop.rarm_name }}</p>
        <img class="gc-admin-img" src="{{ envelop.rarm_visual }}">
        <p class="row gc-myenvelop-h4-versus">Replaced rarm : <br>{{ user.rarm_name }}</p>
        <img class="gc-admin-img" src="{{ user.rarm_visual }}">
    </div>
    <div>
        <p class="row gc-myenvelop-h4-versus">Original lleg: <br>{{ envelop.lleg_name }}</p>
        <img class="gc-admin-img" src="{{ envelop.lleg_visual }}">
        <p class="row gc-myenvelop-h4-versus">Replaced lleg : <br>{{ user.lleg_name }}</p>
        <img class="gc-admin-img" src="{{ user.lleg_visual }}">
    </div>
    <div>
        <p class="row gc-myenvelop-h4-versus">Original rleg: <br>{{ envelop.rleg_name }}</p>
        <img class="gc-admin-img" src="{{ envelop.rleg_visual }}">
        <p class="row gc-myenvelop-h4-versus">Replaced rleg : <br>{{ user.rleg_name }}</p>
        <img class="gc-admin-img" src="{{ user.rleg_visual }}">
    </div>
    <div>
        <p class="row gc-myenvelop-h4-versus">Original brain: <br>{{ envelop.brain_name }}</p>
        <img class="gc-admin-img" src="{{ envelop.brain_visual }}">
        <p class="row gc-myenvelop-h4-versus">Replaced brain : <br>{{ user.brain_name }}</p>
        <img class="gc-admin-img" src="{{ user.brain_visual }}">
    </div>
{% endfor %}

